*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  display:flex;
  justify-content:space-between;
  padding: 5px 20px 5px 20px;
  align-items:center;
  background: #ca6f06;
  flex-wrap: wrap;
}
.title{
  font-size:25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.header-op a{
  margin-right: 10px;
  text-decoration: none;
  color:#fff;
}
.header-op a:last-child{
  background: #fff;
  color:#ca6f06;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 1px;
}
.header-op a:hover{
  background: #fff;
  color:#ca6f06;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 1px;
}
.header-op a:last-child:hover{
  background: #ca6f06;
  color:#fff;
}

.body{
  display:flex;
  flex-direction: column;
}
.body p{
  float: left;
  position: absolute;
  top:25%;
  left:15%;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.body p span{
  color:#eb770b
}
.body-img{
  height:250px;
  float:right;
  margin:60px 150px 0 0 ;
  
}

.container{
  display:flex;
  justify-content:space-around;
  margin:70px 150px 0 150px;  

  
}
.container .box{
  text-decoration: none;
  height:150px;
  width:150px;
  text-align:center;
  border-radius:5px;
  color:#ffffff;
  font-weight: bold;
  background: #d49f59;
  letter-spacing:0.5px;
  cursor: pointer;
}
.container .box i{
  font-size:35px;
  color: #532c02;
}
.container .box .data{
   position: relative;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   display:flex;
   flex-direction: column;
}



.list{
  margin:10px 30px 0 30px ;

}
table, td, th {
  border-bottom: 1px solid #ccc;
}

table{
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px 12px #e6dedee5, -1px -1px 8px #e6dedee5;
}
#header{
  background:#ca893e;
  color: #fff;
}
td,th{
  text-align: left;
  padding: 5px 12px;
}

.add{
  margin:50px 0 0 30px;
}
.add a{
  background:#be6a09;
  padding:5px 10px;
  color:#fff;
  border-radius: 5px;
  transition: all 0.2s ease-in; 
  text-decoration: none;
}
.add a:hover{
  transform:scale(1.02);
  cursor: pointer;
  box-shadow: 2px 2px 12px #e6dedee5, -1px -1px 8px #e6dedee5;
  padding:5px 13px;
}

.form{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-left:25%;
  margin-top: 80px;
}
.cform{
  padding: 20px 15px;
  border-radius: 5px;
  margin-top: 50px;
  width: 80%;
}
.form .form-title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.form .form-title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #be6a09;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: 300px;
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .button{
  height: 45px;
  width: 100%;
  margin: 20px 0;
}
form .button.submit{
  width: 97%;
}
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #ca6f06;
 }
 form .button input:hover{
  
  background: #5e3508;
  }


.gender-details{
  display: flex;
}
  .gender-details div{
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  .gender-details input{
    margin-right: 5px;
  }

.attend-sub{
   float: right;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #ca6f06;
   padding:5px 10px;
   margin-top: 15px;
}
.error{
  color:red;
}

/* login  */

.login{
  max-width: 330px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.reg{
  margin-top: 85px;
  max-width: 330px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  position: absolute;
  top:48%;
  left:50%;
  transform: translate(-50%, -50%);
}
.login-title,.ctitle{
  position: absolute;
  font-size: 35px;
  padding:0 10px;
  margin-top: 20px;
  color:#8b4f09;
  background:#dfb07b;
  font-weight: bold; 
  border-radius:5px;
  width: 98%;
  margin-left:2px;
}
.login-title span{
  color:#fff;
} 
.login .head{
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 500;
}
.login .head .form-title{
  font-weight: 500;
  position: relative;
}
.head a{
  text-decoration: none ;
  color: #000;
}

.form-title.login-click{
  color: #423a3a79;
  font-weight: 500;
}

.form-title.signup{
  margin-left: 10px;
  padding-left: 10px;
  color: #332d2d83;
  border-left: 1px solid #000;
}

.form-title.signup-click{
  color: #000;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #000;
}
.form-title.signup:hover{
  color: #000;
}
.form-title.login-click:hover{
  color: #000;
}

/* contact */

.contact-form, .announcement-form, .assignment-form{
  max-width: 530px;
  width: 100%;
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;   
}
.announcement-form{
  top:50%;
}
.assignment-form{
  top:50%;
}
.ctitle{
  text-align: center; 
  top: -20px;
  width: 96%;
  margin-left:0;
  color:#5a3a14;
  background:#bd7524;
  
}
.cform .input-box input{
  width: 400px;
  color: #000;
}

.assignment-form .box-2{
  width: 80%;
  background: #e6c7a3;
  padding:20px;
  border-radius: 10px;
}

.aform .input-box input{
  padding:10px;
  height: 25px;
  width: 80%;
  background:#ca6f06;
  color: #fff;

}

.atitle{
  text-align:center;
  font-size: 25px;
  font-weight: bold;
}

.aform .user-details{
  background:#fff;
  padding:10px;
  border-radius: 3px;
}

.input,.school{
  display:block;
  padding:10px;
  font-weight: bold;
  letter-spacing:1px;
  outline:none;

}

.aform .button{
  margin-bottom: 0;
  border: 2px solid #ca6f06;
  border-radius: 7px;
}

.aform .button input{
  background: #fff;
  color: #ca6f06;
  font-weight: bold;
  letter-spacing: 1px;
}

.aform .button input:hover{
  background: #ca6f06;
  color: #fff;
}
.aform .button:hover{
  border:none;

}

.textarea{
  width: 376px;
  padding:20px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

/*  doc */

.documents{
  padding:15px;
}

.personal-info,.education{
  display:flex;
  padding:15px;
  flex-direction: column;   
  flex-wrap: wrap;

}

 .personal-header, .certificate{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.personal-info .per{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.personal-info .box input,.education .box input {
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.personal-info .address .box{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.personal-info .address .box input{
  width:430px;
  margin:10px 0 10px 0;
}
.personal-info .per .box input{
  width: 400px;
}

.education .box{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:10px 0 10px 0;
  flex-wrap: wrap;
}

.education .box input{
  width: 400px;
}

.education .box .input{
  padding:10px 0 0 10px;
  height: 45px;
  vertical-align:center;
  background:#ca6f06;
  color: #fff;
}
